@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {
  /* Colors */
  --primary-color: #e63946;
  --secondary-color: #f1faee;
  --text-color: #000000;
  --background-color: #a8dadc;

  /* Fonts Size */
  --base-size: 16px;
  --h1-size: 2.5rem;
  --h2-size: 2rem;
  --h3-size: 1.75rem;

  /* Font weights */
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  /* Spacing */
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;

  /* Shadows */
  --box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  --button-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

  /* Border Radius */
  --radius-24: 24px;
  --radius-12: 12px;
  --radius-circle: 50%;

  /* Transitions */
  --transition-1: 0.3s ease;
  --transition-2: 0.5s ease;
  --transition-3: 1s ease;
}

body {
  height: 100vh;
}

section {
  height: 100vh;
}

.heading {
  font-size: var(--h1-size);
  font-weight: var(--weight-bold);
  text-align: center;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

/* -------------- CUSTOM ALERT STYLE -------------- */

.custom-alert {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 10px 20px;
  border-radius: var(--radius-12);
  height: 100px;
  width: 300px;
  text-align: center;
  font-weight: var(--weight-bold);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.194);
  display: none;
}

.custom-alert.show {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

/* --------------  Top Nav STYLE -------------- */
.top-bar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background: var(--primary-color);
  z-index: 1000;
}
.top-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar .topbar-item {
  display: flex;
  align-items: center;
}

.top-bar .topbar-item {
  margin-right: 30px;
}

.top-bar .icon {
  margin-right: 10px;
  color: #fff;
  font-size: 1.2em;
}

.top-bar .span {
  color: #fff;
  font-size: 1em;
}

.top-bar .link {
  text-decoration: none;
  color: #fff;
}

/* --------------  Navigation Bar STYLE -------------- */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  padding: 1rem 20px;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  height: 100px;
  z-index: 1000;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-img {
  width: 70px;
  height: 70px;
}

.logo h2 {
  font-size: var(--h2-size);
  font-weight: 700;
  color: var(--primary-color);
  letter-spacing: 2px;
}

.main-nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links li a {
  color: var(--text-color);
  font-size: var(--base-size);
  font-weight: var(--font-medium);
  text-decoration: none;
  transition: color var(--transition-1);
}

.nav-links li a:hover {
  color: var(--primary-color);
}

.nav-icons {
  display: flex;
  align-items: center;
}

.nav-icons a {
  color: var(--text-color);
  font-size: var(--h3-size);
  margin-left: 20px;
  transition: color var(--transition-1);
}

.nav-icons a:hover {
  color: var(--primary-color);
}

.favorite ion-icon,
.cart ion-icon {
  vertical-align: middle;
}

/* -------------- Hero Section STYLE -------------- */
.home {
  position: relative;
  margin-top: 6%;
}

.home .slide-list .slide-item {
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: var(--transition-2);
}

.home .slide-list .slide-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.15);
}

.home .slide-list .slide-item img {
  animation: smoothScale 7s linear forwards;
}

@keyframes smoothScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

.home .slide-list .slide-item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6) 100%,
    transparent
  );
}

.home .slide-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.home .slide-list .active-slide {
  opacity: 1;
  z-index: 10;
}

@keyframes showContent {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}

.slide-list .active-slide h1,
.slide-list .active-slide p,
.slide-list .active-slide button {
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}

.slide-list .active-slide p {
  animation-delay: 0.9s;
}
.slide-list .active-slide button {
  animation-delay: 1.2s;
}

.home .slider-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 100;
  color: var(--primary-color);
  font-size: 2rem;
  border: 1px solid var(--primary-color);
  border-radius: var(--radius-12);
  background-color: transparent;
  width: 45px;
  height: 45px;
  top: 50%;
  transition: var(--transition-1);
  cursor: pointer;
}

.home .slider-btn:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.home .prev {
  left: 30px;
}

.home .next {
  right: 30px;
}

/* --------------  Locate Section STYLE -------------- */

/* --------------  WhatsApp Icon STYLE -------------- */

.whatsapp {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 3%;
  right: 2%;
  width: 64px;
  height: 64px;
  text-align: center;
  font-size: var(--h1-size);
  background-color: #59ce72;
  border-radius: var(--radius-circle);
  transition: var(--transition-1);
  cursor: pointer;
  z-index: 1000;
}

.whatsapp:hover {
  opacity: 0.8;
}
.whatsapp-icon {
  color: #fff;
}
