@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

:root {
  /* Colors */
  --primary-color: #e63946;
  --secondary-color: #f1faee;
  --text-color: #1d3557;
  --background-color: #a8dadc;

  /* Fonts Size */
  --base-size: 16px;
  --h1-size: 2.5rem;
  --h2-size: 2rem;
  --h3-size: 1.75rem;

  /* Font weights */
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  /* Spacing */
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;

  /* Shadows */
  --box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  --button-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

  /* Border Radius */
  --radius-24: 24px;
  --radius-12: 12px;
  --radius-circle: 50%;

  /* Transitions */
  --transition-1: 0.3s ease;
  --transition-2: 0.5s ease;
  --transition-3: 1s ease;
}

/* -------------- CUSTOM ALERT STYLE -------------- */

.custom-alert {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 10px 20px;
  border-radius: var(--radius-12);
  height: 100px;
  width: 300px;
  text-align: center;
  font-weight: var(--weight-bold);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.194);
  display: none;
}

.custom-alert.show {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}


/* --------------  Navigation Bar STYLE -------------- */
